// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4DA1C3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #BFE4A5;
$gray: #0E0000;
$light-gray: #F5F5F5;
$logo-color: #1aa3c7;
