<div class="container">
  <div class="form-div">
    <h2 class="pt-4"> Place a new Order</h2>
    <%= render "form", order: @order %>

    <%= link_to "Back", book_path(@book), class:"btn btn-primary" %>
  </div>
</div>
