<div class="container">

  <h2 class="pt-4"> Add new Book</h2>
    <div class="py-5">
    <%= render "form", book: @book %>

    <%= link_to "Back", books_path, class:"btn btn-primary" %>
  </div>
</div>
