.banner{
  height:70vh;
  background-position: center;
  background-size: cover;
  position: relative;
    .navbar-lewagon{
      background-color: rgba($color: #000000, $alpha: 0.1);
      position: absolute;
      top: 0px;
      width: 100%;
    }
    .banner-content{
      position: absolute;
      top: 100px;
      margin-left: 50px;
    }
    h1 {
      color: white;
      display: inline-block;
      size: 48px;
    }
    a {
      display: inline-block;
    }
}
