.btn-booker {
  color : #1aa3c7;
  border : 1px solid #1aa3c7;

}

.btn-booker:hover{
  background-color : #1aa3c7;
}

.btn-booker-pages{
  color : white;
  background-color : #1aa3c7;
}

.btn-booker-pages:hover{
  color : white;
  background-color : #1aa3c7;
}
//
