.navbar {
  justify-content: space-between;
  background: #f7f5f5;
  padding-bottom: 1px;
  border-bottom: solid 1px #8f8f8f37;
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar #logo {
  width: 100px;
}

#navbarDropdown {
  width: 40px;
  cursor: pointer;
}
