.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo{
  width: 100px;
}

.navbar-contrast{
  background: rgb(240,241,242);
  background: linear-gradient(14deg, rgba(240,241,242,1) 27%, rgba(77,161,195,0.7833727240896359) 83%);
}

#navbarDropdown {
  width: 40px;
  cursor: pointer;
}

.my-search-btn{
  border-radius: 30px;
  height: 40px;
  color: white;
}
