.order-card{
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 1px 10px lightgrey;
  padding: 20px;

  .btn:hover{
    background-color: white;
    border: solid;
    border-color: gray;
  }
}
