.user-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: solid;
    p{
      padding: 0px;
      margin: 0px;
    }
}
