// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

$text : black;
$card : #F6F6F6;
$background-body : #DFEFF0;
$bg-button : #295E6A;

body{
background-color: $background-body;
}

a {
  text-decoration : none;
  background-color: $bg-button;
  padding : 15px;
  color: white;
  border-radius: 5%;
}

a:hover {
  color:white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

h1{
  color:white;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

ul {
  display: contents;
  list-style: none;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card-body{
  background-color: $bg-button;
  color : white;
}
