// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "mapbox-gl/dist/mapbox-gl";

$text : black;
$card : #F6F6F6;
$background-body : #DFEFF0;
$bg-button : #295E6A;

body{
background-color: $background-body;
}

a {
  text-decoration : none;
  background-color: $bg-button;
  padding : 15px;
  color: white;
  border-radius: 5%;
}
